.pokImg {
    width: 15rem;
}

.pok404Img {
  width: 50%;
}

.PokeLogo {
  width: 20rem;
}

div.scrollmenu {
  width: 300px;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

ul.row {
  margin-right: 15px;
  margin-left: 15px;
}

li {
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 2px;
}

select {
  width: 10rem;
  // margin-left: 10rem;
}

span.badge-dark {
  background-color: #121314;
}