<!-- <table class="table table-striped table-dark text-center">
  <thead>
    <tr>
      <th scope="col">
        <h2>#</h2>
      </th>
      <th scope="col">
        <h2>Pokemon</h2>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of List">
      <th scope="row">
        <h3 class="mt-4">
          {{ x.id_Pokemon }}
        </h3>
      </th>
      <td>
        <h1 class="mt-4">
          {{ x.name }}
          <img class="pokImg" [src]="x.img">
        </h1>
      </td>
      <td>
        <h2>
          <span (click)="ElimFav(x.id_Pokemon)">
              <i class="fas fa-star"></i>
          </span>
        </h2>
      </td>
    </tr>
  </tbody>
</table> -->
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!-- <div class="d-flex justify-content-center" *ngIf="spin">
  <div class="spinner-grow text-primary m-5 spin-width" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->
<div class="text-center mb-4" [hidden]="!sinPokemon">
  <div class="alert alert-danger" role="alert">
    No tienes a ningun pokemon en favoritos
  </div>
  <img class="sinPokeon" src="https://i.imgur.com/wxXqqqI.gif" alt="">
</div>
<div class="text-center mb-4" [hidden]="!spin">
  <img class="animated rubberBand infinite loade" src="assets/IMG/pokeball.png">
</div>
<div class="text-center mb-4" [hidden]="!error">
  <img class="pokImg animated rubberBand error" src="assets/IMG/404.png">
</div>
<div class="card-columns animated zoomIn faster" [hidden]="spin">
  <div class="card bg-dark mb-3" style="max-width: 18rem;" *ngFor="let x of List">
    <div class="card-header text-white">
      <div class="row">
        <div class="col animated flash">
          #{{ x.id_Pokemon }}
        </div>
        <div class="col-sm-3 text-white">
          <span (click)="ElimFav(x.id_Pokemon, x.name)">
            <i class="fas fa-star text-warning pointer animated swing infinite "></i>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="text-center">
        <img class="pokImg animated rubberBand" [src]="x.img">
      </div>
      <h5 class="card-title animated flash">{{ x.name }}</h5>
      <p class="card-text text-justify animated flash">
        {{ x.descr }}
      </p>
      <hr>
      <h5 class="card-title text-center animated flash">Estadísticas</h5>
      <div class="card-text text-capitalize animated flash">
        <ul>
          <li *ngFor="let s of x.stats">
            <b>{{s.stat.name}}:</b> {{ s.base_stat }}
          </li>
        </ul>
      </div>
    </div>
    <div class="card-footer text-muted text-capitalize">
      <span *ngFor="let t of x.types">
        <span
            [class.poison]="t.type.name === 'poison'"
            [class.ground]="t.type.name === 'ground'"
            [class.ghost]="t.type.name === 'ghost'"
            [class.psychic]="t.type.name === 'psychic'"
            [class.flying]="t.type.name === 'flying'"
            [class.fighting]="t.type.name === 'fighting'"
            [class.fairy]="t.type.name === 'fairy'"
            [class.steel]="t.type.name === 'steel'"
            [class.grass]="t.type.name === 'grass'"
            [class.normal]="t.type.name === 'normal'"
            [class.electric]="t.type.name === 'electric'"
            [class.badge-primary]="t.type.name === 'water'"
            [class.badge-success]="t.type.name === 'bug'"
            [class.badge-danger]="t.type.name === 'fire' || t.type.name === 'dragon'"
            [class.badge-light]="t.type.name === 'ice'"
            [class.badge-dark]="t.type.name === 'rock' || t.type.name === 'dark'"
            class="badge badge-pill text-capitalize animated bounceIn">
            <span *ngIf="t.type.name === 'grass'"><i class="fas fa-seedling"></i></span>
                <span *ngIf="t.type.name === 'poison'"><i class="fas fa-skull-crossbones"></i></span>
                <span *ngIf="t.type.name === 'bug'"><i class="fas fa-bug"></i></span>
                <span *ngIf="t.type.name === 'water'"><i class="fas fa-tint"></i></span>
                <span *ngIf="t.type.name === 'fire'"><i class="fas fa-fire-alt"></i></span>
                <span *ngIf="t.type.name === 'dragon'"><i class="fas fa-dragon"></i></span>
                <span *ngIf="t.type.name === 'flying'"><i class="fas fa-wind"></i></span>
                <span *ngIf="t.type.name === 'ground'"><i class="fas fa-water"></i></span>
                <span *ngIf="t.type.name === 'electric'"><i class="fas fa-bolt"></i></span>
                <span *ngIf="t.type.name === 'ice'"><i class="far fa-snowflake"></i></span>
                <span *ngIf="t.type.name === 'fighting'"><i class="fas fa-fist-raised"></i></span>
                <span *ngIf="t.type.name === 'ghost'"><i class="fas fa-ghost animated flash infinite slower"></i></span>
                <span *ngIf="t.type.name === 'steel'"><i class="fas fa-drum-steelpan"></i></span>
                <span *ngIf="t.type.name === 'psychic'"><i class="fas fa-hamsa"></i></span>
                <span *ngIf="t.type.name === 'rock'"><i class="fas fa-mountain"></i></span>
                <span *ngIf="t.type.name === 'fairy'"><i class="fas fa-magic"></i></span>
                <span *ngIf="t.type.name === 'dark'"><i class="far fa-moon"></i></span>
                <span *ngIf="t.type.name === 'normal'"><i class="fab fa-ethereum"></i></span>
          {{t.type.name}}
        </span>&nbsp;
      </span>
    </div>
  </div>
</div>